<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">

    <h1> PassCode Generator</h1>

    <form action="passcode">
        <select name="length" style="width: 100px"> Select length of
            <option value="10">10</option>
            <option value="12" selected="selected">12</option>
            <option value="14">14</option>
            <optionvalue="16">16</option>
        </select><br> Length
        <input type="checkbox" name="alphanumeric"> Alphanumeric<br>
        <input type="checkbox" name="number"> Number<br>
        <input type="checkbox" name="uppercase"> Upper case<br>

        <input type="submit" value="Generate Passcode" class="btn btn-primary"><br>



    </form>
</div>
